* {
    box-sizing: border-box;
    
  }
  
  body{
    background-image: url('this.jpg');
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  
  ul {
    margin: 50px;
    padding: 30px;
  }
  
  
  ul li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    background: #00838F;
    font-size: 18px;
    transition: 0.2s;
  
   
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  
  ul li:nth-child(odd) {
    background: #f9f9f9;
  }
  

  ul li:hover {
    background: #846bd5;
  }
  
  ul li.checked {
    background: #0097FF;
    color: #5c4004;
    text-decoration: transparent;
    opacity: 0.5;
  }
  

  ul li.checked::before {
    content: '';
    position: absolute;
    border-color: #fff;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
  }
  
 
  .close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 16px 12px 16px;
  }
  
  .close:hover {
    background-color: #f44336;
    color: white;
  }
  
  
  .header {
    background-color: #b39ddba6;
    opacity: 0.8;
    padding: 30px 40px;
    color:#311B92;
    text-align: center;
    font-family: cursive;
    font-weight: 400;
    text-shadow: #888,5px;
    box-shadow: #ab378a;
    margin: 50px;
    padding: 30px;
    border-color: #311B92;
    
  }
  
  
  .header:after {
    content: "";
    display: table;
    clear: both;
  }
  
 
  input {
    margin: 0;
    border: none;
    border-radius: 0;
    width: 75%;
    padding: 10px;
    float: left;
    font-size: 16px;
  }
  
  
  .adbtn {
    padding: 10px;
    width: 25%;
    background: #d9d9d9;
    color: #555;
    float: left;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 0;
  }
  
  .adbtn:hover {
    background-color: #bbb;
  }